<div id="home-div">
    <h1>Welcome to login</h1>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" [(ngModel)]="user_name" placeholder="Enter Username"/>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" [(ngModel)]="password" placeholder="Enter Password">
              
          <button (click)="login()">Login</button>
        </div>

</div>
